name: CI/CD Pipeline 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_test: 
    runs-on: ubuntu-latest
    
    # Variáveis de ambiente globais para este Job
    env:
      DATABASE_URL: postgres://test_user:test_password@localhost:5432/test_db?schema=public

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        node-version: [20.x] 

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
        
      - name: Install dependencies
        run: yarn install --frozen-lockfile      
      
      - name: Apply Database Migrations
        run: npx prisma migrate deploy
      
      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Seed Database
        run: npx prisma db seed


      - name: Run Linting
        run: yarn lint 
      
      - name: Run Tests
        run: yarn test:coverage
        env:
          CI: true
          JWT_ACCESS_SECRET: ${{ secrets.JWT_ACCESS_SECRET }}
          JWT_REFRESH_SECRET: ${{ secrets.JWT_REFRESH_SECRET }}
          SALT_CRYPTO: ${{ secrets.SALT_CRYPTO }}

  # Job de Entrega Contínua para o seu projeto em São Carlos
  deploy:
    needs: build_and_test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Easypanel via Webhook
        env:
          WEBHOOK_URL: ${{ secrets.EASYPANEL_DEPLOY_WEBHOOK }}
        run: |
          if [ -z "$WEBHOOK_URL" ]; then
            echo "ERRO: A URL do Webhook está vazia! Verifique os Secrets do GitHub."
            exit 1
          fi
          curl -X POST "$WEBHOOK_URL"